!!!
%html
  %head
    %title Furima
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "2tvONWOCTaK/4M9Pt8GcAtcnaZ0UWX8W/6aosPypa2nWKDPRyA9S464Z2hvXFo/0//l+hmSF33ASvkTgBsYx7w==", :name => "csrf-token"}/
    %script{:src => "https://js.pay.jp/v1/", :type => "text/javascript"}
    %link{:href => "/assets/application-8b37e51bafa9be221e69c212403c04404d0bb4135b5867f05c728af24c3a1763.css", :media => "all", :rel => "stylesheet"}/
    %script{:src => "/packs/js/application-c5a98b3639ce63106e6e.js"}
  %body
    %header.top-page-header
      .search-bar-contents
        %a{:href => "/"}
          %img.furima-icon{:src => "/assets/top-icon-9486ef715c62ec78e487e9fd713395dee60de0966916f621cbc19d0462dbf03b.png"}/
        %form.search-form{:action => "#"}
          %input.input-box{:placeholder => "キーワードから探す"}/
          %button.search-button
            %img.search-icon{:src => "/assets/icon-search-f9a024f501f1142920a46a8375bd03378ffb58e2c2d2d02a6446303b0f8a6f77.png"}/
      .nav
        %ul.lists-left
          %li
            %a.category-list{:href => "#"} カテゴリー
          %li
            %a.brand-list{:href => "#"} ブランド
        %ul.lists-right
          %li
            %a.login{:href => "/users/sign_in"} ログイン
          %li
            %a.sign-up{:href => "/users/sign_up"} 新規登録
    .main
      .title-contents
        %h2.service-title
          人生を変えるフリマアプリ
        %p.service-explain
          FURIMAはだれでもかんたんに出品・購入できる
        %p.service-explain
          フリマアプリです
        .store-btn
          %a{:href => "#"}
            %img.apple-btn{:src => "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps"}/
          %a{:href => "#"}
            %img.google-btn{:src => "/assets/google-play-49e759d19e608ff7a0464851ed4906b5dc3ecd69aec4606f9127c4edb19473f9.png"}/
      .select-reason-contents
        %h2.title
          FURIMAが選ばれる3つの理由
        %ul.reason-lists
          %li.list
            %img.list-pict{:src => "/assets/pict-reason-01-e34d51eac448ae21e96aeacf12709892b9a2dbed59112a886e860c349244d413.jpg"}/
            %span.reason-list-number 1
            %h3.reason-list-text
              %span.reason-list-blue-text 3分
              ですぐに出品
            %p.reason-list-description
              スマホで入力するだけで簡単に出品できる！
          %li.list
            %img.list-pict{:src => "/assets/pict-reason-02-a7f5d031e5837caa4aa25f5b8a302eccf6836877f92bf973a790e6ae4b6d3d42.jpg"}/
            %span.reason-list-number 2
            %h3.reason-list-text
              %span.reason-list-blue-text シンプル
              で使いやすい
            %p.reason-list-description
              めんどくさい入力は必要なく、検索も購入もスムーズ！
          %li.list
            %img.list-pict{:src => "/assets/pict-reason-03-8e8d1f616aca8cb9412ab4160957d6c2bdba2805a69b49459518ae78cc46ca8c.jpg"}/
            %span.reason-list-number 3
            %h3.reason-list-text
              手数料
              %span.reason-list-blue-text 業界最安
            %p.reason-list-description
              10%でお得に出品&amp;購入！
      .ad-contents
        %h2.ad-title
          会員数日本一位
        %p.ad-explain
          FURIMAは、フリマアプリで最も人気。
        %p.ad-explain
          出品・購入回数も業界最多です！
        %p.ad-explain
          ほしかったあの商品に出会えるかもしれません。
        .store-btn
          %a{:href => "#"}
            %img.apple-btn{:src => "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps"}/
          %a{:href => "#"}
            %img.google-btn{:src => "/assets/google-play-49e759d19e608ff7a0464851ed4906b5dc3ecd69aec4606f9127c4edb19473f9.png"}/
      .feature-contents
        %h2.title
          FURIMAの特徴
        %ul.feature-lists
          %li.list
            %img.list-pict{:src => "/assets/icon-01-9d4f161e48090323a56304d7063f6c798354aaf3a78925f58bd094517e4a614b.png"}/
            %h3.feature-list-text
              簡単に売り買いできる
            %p.feature-list-description
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          %li.list
            %img.list-pict{:src => "/assets/icon-03-111232e7f52b4c6b85b641259c8ee45ae7cd76b6947504f60f793c37ea52726d.png"}/
            %h3.feature-list-text
              売上金は即日振込みに対応
            %p.feature-list-description
              午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
          %li.list
            %img.list-pict{:src => "/assets/icon-04-182a90a663fb79d823e87ab4db08fbea36c3ccf0083110262c1c08afda6d2282.png"}/
            %h3.feature-list-text
              様々な支払いに対応
            %p.feature-list-description
              お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      .item-contents
        %h2.title ピックアップカテゴリー
        %a.subtitle{:href => "/items/new"} 新規投稿商品
        %ul.item-lists
          %li.list
            %a{:href => "/items/27441"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmx1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--15569f4d1d6a166c69fdc12717823c2e008ebad2/IMG_5498.JPG"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  免許証
                .item-price
                  %span
                    50000円
                    %br>/
                    着払い(購入者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27421"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbHR1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ed996cd9c9b56e200027afb88452201a0c79db8c/6055DA56-EB76-452B-A1A4-2B70C02E2288.jpeg"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  新宿踏切（総武本線）
                .item-price
                  %span
                    9999999円
                    %br>/
                    送料込み(出品者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27411"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbEZ1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--dfb69bdd40062a266d2adc33fc288bc3572dbbc1/kani_zuwai.png"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  かに
                .item-price
                  %span
                    980円
                    %br>/
                    着払い(購入者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27401"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBa2R1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f233e3fcc3e181eddea133087b5a4c78bd171d70/%E3%82%BF%E3%82%99%E3%82%A6%E3%83%B3%E3%83%AD%E3%83%BC%E3%83%88%E3%82%99.jpeg"}/
              .item-info
                %h3.item-name
                  sample
                .item-price
                  %span
                    500円
                    %br>/
                    着払い(購入者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27391"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBajF1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a0e4ad8a1e6c561204f8f4da1711b546f02f130e/logo.png"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  韓ドラ
                .item-price
                  %span
                    100000円
                    %br>/
                    送料込み(出品者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27381"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBak51IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--03efb8382c6a0e06c20c10e5e217efd1202f57d1/output-image1.png"}/
              .item-info
                %h3.item-name
                  教科書
                .item-price
                  %span
                    100000円
                    %br>/
                    着払い(購入者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27371"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWx1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--68b5e9b1ffa62e38717d9c65f284584966166221/images-1.jpeg"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  ぬりえ
                .item-price
                  %span
                    1000円
                    %br>/
                    着払い(購入者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27351"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaFZ1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--974e848834effdf70f1d96b8bc29afba11b9be28/81MvAD0dIsL._SL1500_.jpg"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  米津玄師アルバム
                .item-price
                  %span
                    1500円
                    %br>/
                    送料込み(出品者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27341"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ3R1IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--26ae31c124d576a0b91a5865cfba19dc2326faca/computer_laptop_angle2.png"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  パソコン
                .item-price
                  %span
                    300円
                    %br>/
                    送料込み(出品者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
          %li.list
            %a{:href => "/items/27321"}
              .item-img-content
                %img.item-img{:src => "https://furima2020.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdmR0IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c8d19607897beee6c3d1fa11058269d4000abc5b/IMG_9809.JPG"}/
                .sold-out
                  %span Sold Out!!
              .item-info
                %h3.item-name
                  あ
                .item-price
                  %span
                    12345円
                    %br>/
                    送料込み(出品者負担)
                  .star-btn
                    %img.star-icon{:src => "/assets/star-icon-7f3ed77654d6c9dfc47f9ce980dedbb1b4bb8f858e6c4ee37f69a4844479500b.png"}/
                    %span.star-count 0
    %a.purchase-btn{:href => "/items/new"}
      %span.purchase-btn-text 出品する
      %img.purchase-btn-icon{:height => "50", :src => "/assets/icon_camera-24c5a3dec3f777b383180b053077a49d0416a4137a1c541d7dd3f5ce93194dee.png", :width => "185"}/
    .ad-footer-contents
      %p.ad-footer-explain
        だれでもかんたん、人生を変えるフリマアプリ
      %h2.ad-footer-title
        今すぐ無料ダウンロード！
      .store-btn
        %a{:href => "#"}
          %img.apple-btn{:src => "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps"}/
        %a{:href => "#"}
          %img.google-btn{:src => "/assets/google-play-49e759d19e608ff7a0464851ed4906b5dc3ecd69aec4606f9127c4edb19473f9.png"}/
    .footer
      .footer-contents
        .furima-details
          %h2.footer-content-head FURIMAについて
          %ul
            %li
              %a.footer-link{:href => "#"} 会社概要（運営会社)
            %li
              %a.footer-link{:href => "#"} プライバシーポリシー
            %li
              %a.footer-link{:href => "#"} FURIMA利用規約
            %li
              %a.footer-link{:href => "#"} ポイントに関する特約
        .furima-details
          %h2.footer-content-head FURIMAを見る
          %ul
            %li
              %a.footer-link{:href => "#"} カテゴリー一覧
            %li
              %a.footer-link{:href => "#"} ブランド一覧
        .furima-details
          %h2.footer-content-head FURIMAについて
          %ul
            %li
              %a.footer-link{:href => "#"} FURIMAガイド
            %li
              %a.footer-link{:href => "#"} FURIMAロゴ利用ガイドライン
            %li
              %a.footer-link{:href => "#"} お知らせ
      %a{:href => "#"}
        %img.logo-white{:src => "/assets/logo-white-34b9db297824e9a0b2fe711412f0f6ef6431c163d60f76848bf0c719f656e807.png"}/
      %p © FURIMA
